body{
padding:0px;
margin:0px;
font-family: Arial;
font-size: 14px;
}
.header{
margin:auto;
height:100px;
box-sizing:border-box; 
background:#f4f4f4;
border-bottom: 1px solid #d2d2d2;
box-shadow: 0 3px 2px 0 #e1e1e1;
}

#Add,#Update,#addMem,#deny,#submitE,#resetE,.pressed{
width:80px;
height:28px;
margin-left:10px;
padding:5px;
line-height:16px;
border-radius:2px;
box-sizing:border-box; 
text-align:center;
cursor:pointer;
}
#Add,#Update,#addMem,#deny,#submitE,#resetE{
background:#0271c7;
color:#fff;
}
#addMem{margin-left:0px;}

.pressed{
background:#01467b;
color: #c2d0e2;
box-shadow: inset 0 1px 1px 1px #01467b;
}

#options,#srch{
padding-top:55px;
padding-left:40px;
}
#addFast{
background: #fff;
border: 1px solid #d6d6d6;
padding: 20px 30px;
position: absolute;
top: 95px;
left: 50px;
border-radius: 2px;
box-shadow: 0 2px 5px 0 #d6d6d6;
z-index: 99;
}

.arrowUp:before,.arrowUp{
top: -20px;
left: 10px;
margin-top: 1px;
border-top-color: transparent;
}

.arrowUp,#arrowUpS{
position:absolute;
border: 10px solid white;
border-top-color: transparent;
border-left-color: transparent;
border-right-color: transparent;
}

#arrowUp:before{
top:-15px;
margin-top: 1.5em;
border-bottom-color: transparent;
border-top-color: grey;
content:'';
left: -15px;
}

#arrowUpS:before,#arrowUpS{
margin-top: 1px;
border-top-color: transparent;
border-left-color: transparent;
border-right-color: transparent;
border-bottom-color: #fff;
content:'';
left: 50px;
top: 78px;
z-index: 99;
}

.arrowLeft:before,.arrowUp{
top: -20px;
left: 10px;
margin-top: 1px;
border-top-color: transparent;
}

.arrowLeft{
position:absolute;
border: 10px solid white;
border-top-color: transparent;
border-left-color: transparent;
border-right-color: transparent;
}

.arrowLeft:before{
top:-15px;
margin-top: 1.5em;
border-bottom-color: transparent;
border-top-color: grey;
content:'';
left: -15px;
}

.arrowLeft:before,.arrowLeft{
margin-top: 1px;
border-top-color: transparent;
border-left-color: transparent;
border-right-color: #fff;
border-bottom-color: transparent;
content: '';
left: -20px;
top: 5px;
z-index: 99;
}

.arroWRight{
border-left-color: #fff !important;
border-right-color: transparent !important;
left: 330px;
}

#addDayEvent{
background: #fff;
border: 1px solid #d6d6d6;
padding: 20px 30px;
position: absolute;
border-radius: 2px;
box-shadow: 0 2px 5px 0 #d6d6d6;
z-index: 99;
width: 270px;
height: 200px;
margin-top: -35px;
margin-left: 147px;
}
.leftAdd{
	margin-left: -335px !important;
}
.bottomAdd{
	margin-top: -225px !important;
}
.arroBot{
	margin-top: 205px !important;
}
#arr_b{
border: 1px solid #d6d6d6;
width: 300px;
position:absolute;
background: white;
z-index: 80;
top: 98px;
padding: 5px 15px 5px 5px;
border-radius: 2px;
box-shadow: 0 2px 5px 0 #d6d6d6;
}
.fond{
background-color:#27a1ff;
color: #fff;
}
h3{
padding:0px;
margin:2px 0 !important;
}
.ev{
padding: 5px 10px;
border-top: 1px solid #d0d0d0;
font-size:12px;
}
.txt{
box-shadow: inset 0 1px 1px 0 #d0d0d0;
border-radius: 2px;
border: 1px solid #d0d0d0;
width: 250px;
height:20px;
font-family: Arial;
font-size: 14px;
line-height: 20px;
padding-left: 10px;
}
#submit{
width:90px;
height:22px;
margin-left:2px;
margin-top:10px;
line-height:22px;
border-radius:2px;
box-sizing:border-box;
box-shadow: 0 1px 1px 0 #cccccc;
cursor:pointer;
background-color:#dddddd;
color: #fff;
text-align:center;
text-shadow: 0.1em 0.1em 0 #c2c0c0;
}

.block20{
width: 20%;
margin:0;
display:inline-block;
}

.block30{
width: 30%;
margin:0;
float:left;
display:inline-block;
}

.block70{
width: 70%;
margin:0;
float:left;
display:inline-block;
}

.ml20{
margin-left: 20px;
}

.dib{display:inline-block;}
.clear{clear: left;}

#arrow_right{
border:5px solid black;
border-top-color: transparent;
border-bottom-color: transparent;
border-right-color: transparent;
position:absolute;
left: 196px;
top: 125px;
}
#arrow_right:before{
border-bottom-color: transparent;
border-top-color: grey;
border-right-color: transparent;
content:'';
}
#arrow_left{
border:5px solid black;
border-top-color: transparent;
border-bottom-color: transparent;
border-left-color: transparent;
position:absolute;
left: 51px;
top: 125px;
}
#arrow_left:before{
border-bottom-color: transparent;
border-top-color: grey;
border-left-color: transparent;
content:'';
}
#Previous,#Next{
width: 20px;
height: 20px;
border-radius: 5px;
line-height:30px;
box-sizing:border-box;
text-align:center;
box-shadow: 0 1px 1px 0 #cccccc;
box-shadow: inset 0.5px 0 2px 2px #dddddd;
cursor:pointer;
background-color:#fff;
}
#change_mnth{
	margin: 20px 0 0 50px;
}

#currentM{
width: 110px;
height: 20px;
line-height: 20px;
text-align:center;
position: relative;
top: -5px;
}

#month{
width: 93%;
height:80%;
padding: 0px;
z-index:0;
margin-left:4%;
position:absolute;
overflow:hidden;
border-left: 1px solid #cccccc;
box-sizing:border-box;
}
.days{
border-top: 1px solid #cccccc;
border-right: 1px solid #cccccc;
float:left;
width:14%;
height:17%;
margin:0px;
padding:5px;
list-style-type: none;
z-index: 0;
box-sizing:border-box; 
overflow:hidden;
}
.active{
border:2px solid #86c9fd;
background-color:#e5f1f9;
}
.dn{display:none;}
#srch{position:absolute}
.dayOfweek,.date{
font-size:14px;
color: #999999;
}
.arrow-box{
border: 1px solid black;
padding: 20px 30px;
position: relative;
border-radius: 3px;
top:-130%;
left:15%;
z-index:99;
width: 200%;
background: #fff;
}

.arrow:before,.arrow{
top:100%;
margin-top: 1px;
border-bottom-color: transparent;
}

.arrow{
position:absolute;
border: 10px solid white;
content:'';
border-top-color: transparent;
border-left-color: transparent;
border-right-color: transparent;
}

.arrow:before{
top:-15px;
margin-top: -1.5em;
border-bottom-color: transparent;
border-top-color: #fff;
left: -15px;
}

input{
margin-left: 30px;
}

.prevMnth,.nextMnth{background-color:#c2e4fe;}

.events{
line-height:22px;
margin-top: 10px;
}

#popup{
position:absolute;
z-index:10;
width:100%;
height:100%;
}

#background{
position:fixed;
z-index: 20;
left:0;
top:0;
background-color: #000;
filter:alpha(opacity=75);
-moz-opacity:0.75;
opacity: 0.75;
width: 100%;
height: 100%;
}

#window{
position: fixed;
z-index: 30;
top: 20%;
left: 35%;
background-color: white;
width: 500px;
height: 300px;
margin: 0 auto;
padding: 10px;
}

#info{
font-size: 18px;
}
#close{
font-size: 13px;
color:grey;
text-align: right;
padding-left: 50px;
cursor: pointer; 
margin-left: 60px;
margin-top: -8px;
width: 5px;
height: 5px;
}
#add_members{
margin:20px 0;
}
.mt20{
margin-top:20px !important;
}

.dt{
font-size: 14px;
font-weight: bold;
}
.inf{
font-size: 16px;
margin:10px 0;
}
